PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/vibevent
JWT_SECRET=your_jwt_secret
API_BASE_URL=http://localhost:5000
FEDAPAY_ENVIRONMENT=live
FEDAPAY_PUBLIC_KEY=your_fedapay_public_key
FEDAPAY_SECRET_KEY=your_fedapay_secret_key
FEDAPAY_WEBHOOK_SECRET=your_fedapay_webhook_secret
